button {
    border: none;
    border-radius: 1rem;
    background-color: var(--terciario);
    font-size: 2rem;
    aspect-ratio: 1 / 1;
    color: var(--texto);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button:active {
    transform: scale(1.05);
}

button.gris {
    background-color: var(--secundario);
}

button.operacion {
    background-color: var(--primario);
    color: #fff;
}
